.main-header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100vw;
    padding: 0 10vw;
    color: rgb(248, 242, 242);
    z-index: 1;
    transition: .4s ease-out;
    font-size: 30px;

    a {
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
    }

    .nav-links{
        display: flex;
        list-style:none;

        .nav-link{
            transition: 
                opacity .4s ease-in-out,
                transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);


                &:nth-of-type(2){
                    transition-delay: .1s;
                }
                &:nth-of-type(3){
                    transition-delay: .2s;
                }
                &:nth-of-type(4){
                    transition-delay: .3s;
                }
                &:nth-of-type(5){
                    transition-delay: .4s;
                }
                &:nth-of-type(6){
                    transition-delay: .5s;
                }


            a{
                margin: .2rem;
                padding: 1rem .5rem;
            }
            a:hover{
                background: rgba(233, 95, 226, 0.5);
            }
        }
    }

    .menu-icon{
        position: relative;
        padding: 26px 10px;
        cursor: pointer;
        z-index: 1;
        display: none;


        &__line {
            display: block;
            position: relative;
            background: black;
            height: 2px;
            width: 20px;
            border-radius: 4px;

            &::before, &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 4px;
                background: black;
                transition: background .8s ease;
            }
            &::before {
                transform: translateY(-5px);
            }
            &::after {
                transform: translateY(5px);
            }
        }
    }
    .menu-btn{
        display: none;
    }

    &.scrolled{
        height: 50px;
        background: rgba(0, 0, 0, 0.9) ;
        color: white;

        .menu-icon{
            &__line,
            &__line::before,
            &__line::after{
                background: #fff;
            }
        }
    }
}