@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Pangolin&display=swap');
@import 'hero';
@import 'header';
@import 'media';
@import 'animations';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Pangolin', cursive;;
}

