@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Pangolin&family=Source+Code+Pro:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5 ease;

    .brand{
        color: rgb(248, 244, 244);
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;

    }

    .navigation{
        position: relative;

        .navigation-items a{
            position: relative;
            color: rgb(241, 237, 237);
            font-size: 1rem;
            font-weight: 500;
            text-decoration: none;
            margin-left: 30px;
            transition: 0.3s ease;

            &::before{
                content: '';
                position: absolute;
                background: rgba(52, 191, 247, 0.452);
                width: 100%;
                height: 3px;
                bottom: 0;
                left: 0;
                transition: 0.3s ease;
            }
            &::after{
                width: 100%;

            }
        }
    }

}

section{
    padding: 100px 200px;

}
.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(87, 178, 231);

    &::before{
        z-index: 777;
        content: '';
        position: absolute;
        background: rgba(69, 148, 238, 0.363);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .content{
        z-index: 888;
        color: #e9e2e2;
        width: 70%;
        margin-top: 50px;
        display: none;
    }

    .content.active{
        display: block;
        background: linear-gradient(to bottom right, rgba(43, 42, 43, 0.751), rgba(24, 61, 97, 0.682));
    

        h1{
           font-size: 4rem;
           font-weight: 900;
           text-transform: uppercase;
           letter-spacing: 5px;
           line-height: 75px;
           margin-bottom: 40px; 

           span{
            font-size: 1.2rem;
            font-weight: 600;
           }
        }

        p{
            margin-bottom: 65px;
        }

        a{
            background: white;
            padding: 15px 35px;
            color: rgb(87, 178, 231);
            font-size: 1.1rem;
            font-weight: 500;
            text-decoration: none;
            border-radius: 2px;
        }
        
    }
    

    .media-icons{
        z-index: 888;
        position: absolute;
        right: 30px;
        display: flex;
        flex-direction: column;
        transition: 0.5s ease;

        a{
            color: white;
            font-size: 1.6rem;
            transition: 0.3s ease;

            &:not(:last-child){
                margin-bottom: 20px;
            }
            &:hover{
                transform: scale(1.3);
            }
        }
    }
    img{
        z-index: 000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;

    .nav-btn{
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
        transition: 0.3s ease;

        &:not(:last-child){
            margin-right: 20px;
        }

        &:hover{
            transform: scale(1.2);
        }
    }
}

.slider-navigation .nav-btn.active{
    background: #2696E9;
}

.img-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

@media (max-width:1040px){
    header{
        padding: 12px 20px;
    }

    header .navigation{
           display: none;
    }

    header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(1, 1, 1, 0.5) ;
    }

    header .navigation.active .navigation-items{
        background: white;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgba(1, 1, 1, 0.2);
    }

    header .navigation.active .navigation-items a{
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a:before{
        background: #222;
        height: 5px;
    }



    section{
        padding: 100px 20px;
    }
    .home .media-icons{
        right: 15px;
    }
    .menu-btn{
        background: url(/css/media/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3 ease;
    }

    .menu-btn.active{
        z-index: 999;
        background: url(/css/media/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3 ease;
    }

}